.page{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: no-repeat;
    background-image: url(./images/starwars.jpg);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
}
/* defines the card structure */
.card{
    align-items: center;
    border: .25rem solid white;
    border-radius: .5rem;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
    padding: 2.5% 0;
    width: 25%;
}
.card__dark{
    --darbg:cadetblue;
    background-color: var(--darbg);
}
.card__danger{
    --darkbg:darkcyan;
    background-color:var(--darkbg);
}
.card__light{
    --lightbg: beige;
    background-color:var(--lightbg);
}
.card__force{
    --forcebg:cornsilk;
    background-color:var(--forcebg);
}
.card__img {
    max-width: 85%;
}
/* change font colour */
.text{
    --whiteText:white;
    color:var(--whiteText);
}
.card__text{
    font-size: 1.1rem;
    font-style: italic;
}
.btn {
    border: .25rem solid ridge;
    border-radius: .5rem;
    color: var(--whiteText);
    height: 2rem;
    min-width: 100%;
    padding: 2.5%;
    font-size: 1.2rem;
}
.btnDanger{
    --danger:red;
    background-color: var(--danger);   
}
.btnSafe{
    --safe:green;
    background-color: var(--safe);   
}